
<!-- Footer Start -->
<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a asp-controller="Home" asp-action="Index">
                                <span>AzTU</span> <br />
                                İnformasiya və telekommunikasiya texnologiyaları
                            </a>
                        </div>
                        <p></p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/AzTU-Azerbaycan-Texniki-Universiteti-105501119498128"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="https://www.instagram.com/aztu.edu.az/?hl=en"><i class="zmdi zmdi-instagram"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>Məlumat</h3>
                        <ul>
                            <li><a href="#">Akademik Cədvəl</a></li>
                            <li><a href="#">Dərs Cədvəli</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>Keçidlər</h3>
                        <ul>
                            <li><a href="course.html">Dərslərimiz</a></li>
                            <li><a href="teacher.html">Müəllimlər &amp; Kafedralar</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center" style="background:#A4000B">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p> 2023. Sabit Tərəfindən Hazırlanmışdır</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
