@model ClassName

@{
    ViewData["Title"] = "update";
}

<h2>Yenilə</h2>

<h4>Qrup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update"  method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label">Qrup Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Kafedra" class="control-label">Kafedra Adı</label>
                @Html.DropDownList("KafedraId", (IEnumerable<SelectListItem>)ViewBag.Kafedras, null, new { @class ="form-control" })
            </div>             
            <div class="form-group">
                <input type="submit" value="Yenilə" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Siyahıya Qayıt</a>
</div>


