<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fa-duotone fa-house"></i>
                <span>Dashboard</span>
            </a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Faculty">
                <i class="fa-duotone fa-globe"></i>
                <span>Fakulteler</span>
            </a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Kafedra">
                <i class="fa-duotone fa-globe"></i>
                <span>Kafedralar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="class">
                <i class="fa-duotone fa-globe"></i>
                <span>Qruplar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="teacher">
                <i class="fa-duotone fa-globe"></i>
                <span>Müəllimlər</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="subject">
                <i class="fa-duotone fa-globe"></i>
                <span>Fənlər</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="student">
                <i class="fa-duotone fa-globe"></i>
                <span>Tələblər</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="room">
                <i class="fa-duotone fa-globe"></i>
                <span>Otaqlar</span>
            </a>
        </li>
    </ul>
</aside>